<?php
echo $this->tag('div',
                $this->pagination($current, $total,
                                  $router->pathFor('classify', ['set' => $current_set])),
                ['class' => 'row']);
?>
<div class="row">
    <div class="col-md-3 mb-3">
        <div class="card border-primary">
            <form method="POST">
                <div class="card-header bg-primary text-white"><h5><?= $this->fontAwesome('folder-open') . ' ' . $subject->getLabel(); ?></h5></div>
                <div class="card-body bg-transparent">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><?= $this->tag('strong', $subject->numberOfFlows()); ?> opération(s)
                            du <?= $flows->first()->getValueDate(); ?> au <?= $flows->last()->getValueDate(); ?></li>
                        <li class="list-group-item">
                            <pre><i class="fas fa-plus"></i> <?= money_format('%#10i', $subject->getIn()); ?> €</pre>
                            <pre><i class="fas fa-minus"></i> <?= money_format('%#10i', $subject->getOut()); ?> €</pre>
                        </li>
                        <li class="list-group-item">
                            <?= $form->tags->renderOn($this); ?>
                            <fieldset class="form-group">
                                <legend><small><a data-toggle="collapse" href="#collapse-<?= $form->description->getId(); ?>"><?= $this->fontAwesome('caret-down');?> Description</a></small></legend>
                                <div class="collapse <?= $form->description->getValue() ? 'show' : '' ?>"
                                     id="collapse-<?= $form->description->getId(); ?>">
                                    <?= $form->description->renderOn($this); ?>
                                </div>
                            </fieldset>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><?= $this->fontAwesome('check');?> Valider</button>
                    <a class="btn btn-info" href="<?=$next_url;?>"><?= $this->fontAwesome('forward');?> Passer</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-9 mb-3">
        <div class="card border-secondary">
            <div class="card-header bg-secondary text-white"><h5><?= $this->fontAwesome('list');?> Opérations</h5></div>
            <div class="card-body bg-transparent">
                <?php
                $table = (new \Cashflow\View\Table())
                ->addColumn('Type', function($item) {
                    return $this->tag('i', '', ['class' => 'fas fa-'. $item->getIcon()])
                         . ' ' . $item->getType();
                }, '')
                ->addColumn('Date', function($item) { return $item->getValueDate(); },
                            'calendar-alt')
                ->addColumn('Mouvement', function($item) {
                    $icon = $item->getIn() ? 'plus' : 'minus';
                    $value = $item->getIn() ? $item->getIn() : $item->getOut();
                    return $this->tag('pre', $this->fontAwesome($icon) . ' ' . money_format('%#10i', $value) . ' €');
                }, 'euro-sign')
                ->addColumn('Détails', function($item) { return $item->getDetails(); }, '')
                ;

                echo $this->renderTable('operations', $table, $flows);
                ?>
            </div>
        </div>
    </div>
</div>
