<?php
$total = $subjects->count();
$classified = $subjects->select(function($item) { return $item->isClassified(); })->count();
$not_classified = $subjects->select(function($item) { return !$item->isClassified(); })->count();
$percent = ($classified*100) / $total;
$types = \Cashflow\Flow::knownTypes();
?>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-primary text-white"><h4><?=$this->fontAwesome('folder-open');?> État de la classification</h4></div>
            <div class="list-group list-group-flush">
                <div class="list-group-item bg-transparent">
                    <?= $this->progress($total, 0, $classified); ?>
                </div>
                <a href="<?= $router->pathFor('classify', ['set' => 'all']); ?>" class="text-white list-group-item bg-success">Tous les sujets <span class="badge badge-pill badge-light float-right"><?=$total;?></span></a>
                <a href="<?= $router->pathFor('classify', ['set' => 'classified']); ?>" class="text-white list-group-item bg-success">Sujets classifiées <span class="badge badge-pill badge-light float-right"><?=$classified;?></span></a>
                <a href="<?= $router->pathFor('classify', ['set' => 'not-classified']); ?>" class="text-dark list-group-item bg-warning">Sujets non-classifiées <span class="badge badge-pill badge-light float-right"><?=$not_classified;?></span></a>
                <div class="list-group-item bg-transparent">
                   Par type de transaction
                </div>
                <?php foreach($types as $type => $label) {
                    $count = $subjects->select(function($item) use($type) {
                        return $item->isType($type);
                    })->count(); ?>
                <a href="<?= $router->pathFor('classify', ['set' => 'type-' . $type]); ?>" class="text-white list-group-item bg-info"><?= $label ;?> <span class="badge badge-pill badge-light float-right"><?= $count; ?></span></a>
                <?php } ?>
            </div>
        </div>
    </div>
</div>
