<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card border-primary">
            <form method="POST">
                <div class="card-header bg-primary text-white"><h5><?= $this->fontAwesome($flow->getIcon()) . ' ' . $title; ?></h5></div>
                <div class="card-body bg-transparent">
                    <div class="form-group">
                        <?= $form->type->renderOn($this); ?>
                    </div>
                    <div class="form-group">
                        <?= $form->subject->renderOn($this); ?>
                    </div>
                    <div class="form-group">
                        <?= $form->value_date->renderOn($this); ?>
                    </div>
                    <div class="form-row">
                        <div class="col"><?= $form->in->renderOn($this); ?></div>
                        <div class="col"><?= $form->out->renderOn($this); ?></div>
                    </div>
                    <div class="form-group">
                        <?= $form->details->renderOn($this); ?>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><?=$this->fontAwesome('check')?> Valider</button>
                    <a href="<?= $router->pathFor('home'); ?>" class="btn btn-info"><?=$this->fontAwesome('backward')?> Retour</a>
                </div>
            </form>
        </div>
    </div>
</div>

