<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card border-primary">
            <form method="POST">
                <div class="card-header bg-primary text-white"><h5><?= $this->fontAwesome('chart-area') . ' ' . $title; ?></h5></div>
                <div class="card-body bg-transparent">
                    <div class="form-group">
                        <?= $form->label->renderOn($this); ?>
                    </div>

                    <?= $form->types->renderOn($this); ?>
                    <?= $form->directions->renderOn($this); ?>
                    <?= $form->tags->renderOn($this); ?>

                    <fieldset class="form-row form-group">
                        <legend>Période</legend>
                        <div class="col">
                            <?= $form->start->renderOn($this); ?>
                        </div>
                        <div class="col">
                            <?= $form->end->renderOn($this); ?>
                        </div>
                    </fieldset>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><?=$this->fontAwesome('check')?> Valider</button>
                    <a href="<?= $router->pathFor('home'); ?>" class="btn btn-info"><?=$this->fontAwesome('backward')?> Retour</a>
                </div>
            </form>
        </div>
    </div>
    <?php
    $flows = $model->getFlows();
    $dataset = (new \Cashflow\View\GraphDataset())
    ->type('bar')
    ->labelsCallback(function($datas) {
        $labels = [];
        foreach($datas as $data) {
            $labels[] = $data->getLabel();
        }
        return $labels;
    })
    ->datasetsCallback(function($datas) {
        $datasets = [];
        foreach(\Cashflow\Flow::knownDirections() as $code => $label) {
            $data = [];
            foreach($datas as $item) {
                $method = 'get' . ucfirst($code);
                $data[] = call_user_func([$item, $method]);
            }
            $set = ['label' => $label,
                    'data' => $data,
                    'backgroundColor' => 'rgb(' . implode(', ', [rand(30, 225), rand(30, 225), rand(30, 225)]) . ')',
                    'borderWidth' => 1];
            $datasets[] = $set;
        }

        return $datasets;
    })
    ;
    ?>
    <div class="col-md-6">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white"><h5><?= $this->fontAwesome('info-circle'); ?> Infos</h5></div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong><?= count($flows);?></strong> opération(s)</li>
                    <li class="list-group-item">
                        <?= $this->renderGraph('myGraph', $dataset,
                                               \Cashflow\Flow::groupedByMonth($flows)); ?></li>
                </ul>
            </div>
        </div>
    </div>
</div>
