<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card border-primary">
            <form method="POST" enctype="multipart/form-data">
                <div class="card-header bg-primary text-white"><h5><?= $this->fontAwesome('file-import'); ?> Import</h5></div>
                <div class="card-body bg-transparent">
                    <div class="form-group">
                        <?= $form->datas->renderOn($this); ?>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><?=$this->fontAwesome('check')?> Valider</button>
                    <a href="<?= $router->pathFor('home'); ?>" class="btn btn-info"><?=$this->fontAwesome('backward')?> Retour</a>
                </div>
            </form>
        </div>
    </div>
    <?php if (isset($report)) { ?>
        <div class="col-md-12 mb-3">
            <div class="card border-primary">
                <div class="card-header bg-secondary text-white"><h5><?= $this->fontAwesome('info-circle'); ?> Rapport</h5></div>
                <div class="card-body bg-transparent">
                    <ul>
                        <li><?= $report->getValid(); ?> ligne(s) valide(s)</li>
                        <li><?= $report->getAlreadyImported(); ?> ligne(s) déjà présente(s)</li>
                    </ul>
                </div>
            </div>
        </div>
    <?php } ?>
</div>
