<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white"><h4><?= $this->fontAwesome('balance-scale'); ?> Équilibres</h4></div>
            <div class="card-body row">
                <div class="col-md-6">12 mois : <?php echo $year_mean; ?> €</div>
                <div class="col-md-6">9 mois : <?php echo $ninemester_mean; ?> €</div>
                <div class="col-md-6">6 mois : <?php echo $semester_mean; ?> €</div>
                <div class="col-md-6">3 mois : <?php echo $quarter_mean; ?> €</div>
                <div class="col-md-6">1 mois : <?php echo $month_mean; ?> €</div>
            </div>
        </div>
    </div>
</div>
<?php
$table = (new \Cashflow\View\Table())
    ->addColumn('Mois',
                function($item) use($router) {
                    return $this->tag('a', $item->getLabel(),
                                      ['href' => $router->pathFor('month', ['month' => $item->getLabel()])]);
                },
                'calendar-alt')
    ->addColumn('Transactions', function($item) { return $item->getCount(); }, 'folder-open')
    ->addColumn('Entrées', function($item) { return $item->getIn(); }, 'plus')
    ->addColumn('Sorties', function($item) { return $item->getOut(); }, 'minus')
    ->addColumn('Résultat', function($item) { return $item->getBalance(); }, 'balance-scale')
;
?>
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white"><h4><?= $this->fontAwesome('calendar-alt'); ?> Par mois</h4></div>
            <div class="card-body"><?= $this->renderTable('bymonth', $table, $months); ?></div>
        </div>
    </div>
</div>
<?php
$table = (new \Cashflow\View\Table())
    ->addColumn('Libellé',
                function($item) use($router) {
                    return $this->tag('a', $item->getLabel(),
                                      ['href' => $router->pathFor('graph-edit', ['id' => rawurlencode($item->getId())])]);
                })
    ->addColumn('',
                function($item) use($router) {
                    return $this->delete(sprintf('Supprimer le graphique "%s"', $item->getLabel()),
                                         $router->pathFor('graph-delete',
                                                          ['id' => rawurlencode($item->getId())]));
                })
;
?>
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white"><h4><?= $this->fontAwesome('chart-area'); ?> Graphiques
                <span class="float-right"><?= $this->action('Nouveau graphique',
                                                            $router->pathFor('graph-edit'),
                                                            ['plus', 'chart-area'],
                                                            'success');?></span></h4></div>
            <div class="card-body"><?= $this->renderTable('graphs', $table, $graphs); ?></div>
        </div>
    </div>
</div>
<?php 
$dataset = (new \Cashflow\View\GraphDataset())
    ->type('line')
    ->labelsCallback(function($datas) {
        $labels = [];
        foreach($datas as $data)
            $labels[] = $data->getLabel();

        return $labels;
    })
    ->datasetsCallback(function($datas) {
        $values = [];
        foreach($datas as $data)
            $values[] = $data->getBalance();

        return [[
            'label' => 'Balance',
            'data' => $values,
            'backgroundColor' => '#AA77FF',
            'borderWidth' => 1
        ]];
    })
;
?>
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white"><h4><?= $this->fontAwesome('balance-scale'); ?> Équilibres</h4></div>
            <div class="card-body"><?= $this->renderGraph('myGraph', $dataset, $months); ?></div>
        </div>
    </div>
</div>

