<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/fontawesome/css/all.css">
        <link rel="stylesheet" href="/assets/datatables/css/dataTables.bootstrap4.min.css">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/assets/jquery/jquery.min.js"></script>
        <script src="/assets/popper.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/datatables/js/jquery.dataTables.min.js"></script>
        <script src="/assets/datatables/js/dataTables.bootstrap4.min.js"></script>
        <script src="/assets/chartjs/Chart.min.js"></script>
        <?= $this->headLinks(); ?>
        <?= $this->headScripts(); ?>
        <title>Your cash in flows</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark sticky-top">
            <a class="navbar-brand text-white" href="/"><?= $this->fontAwesome('euro-sign'); ?> Cashflow</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="<?= $router->pathFor('classification'); ?>"><?= $this->fontAwesome('folder-open');?> Classification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="<?= $router->pathFor('tags'); ?>"><?= $this->fontAwesome('tag');?> Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="<?= $router->pathFor('import'); ?>"><?= $this->fontAwesome('file-import');?> Import</a>
                </li>
            </ul>
        </nav>
        <main role="main" class="container-fluid p-3">
            <?= $content; ?>
        </main>
        <?= $this->bodyScripts(); ?>
    </body>
</html>
