<?php
$table = (new \Cashflow\View\Table())
    ->addColumn('Id',
                function($item) use($router) {
                    return $this->tag('a', $item->getId(),
                                      ['href' => $router->pathFor('flow-edit',
                                                                  ['id' => $item->getId()])]);                    
                }, 'hashtag')
    ->addColumn('Type', function($item) {
        return $this->fontAwesome($item->getIcon()) . ' ' . $item->getType();
    }, '')
    ->addColumn('Date', function($item) { return $item->getValueDate(); }, 'calendar-alt')
    ->addColumn('Mouvement', function($item) {
        $icon = $item->getIn() ? 'plus' : 'minus';
        $value = $item->getIn() ? $item->getIn() : $item->getOut();
        return $this->tag('pre', $this->fontAwesome($icon) . ' ' . money_format('%#10i', $value) . ' €');
    }, 'euro-sign')
    ->addColumn('Détails', function($item) { return $item->getDetails(); }, '')
;

?>
<div class="row">
    <div class="col-md-12">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white"><h5><?=$month;?></h5></div>
            <div class="card-body bg-transparent">
                <?= $this->renderTable('operations', $table, $flows); ?>
            </div>
        </div>
    </div>
</div>
