<div class="row">
    <h2><?=$subject;?></h2>
    
    <table class="table" id="bysubject">
        <thead>
            <th scope="col"><i class="fas fa-hashtag"></i> Id</th>
            <th scope="col"><i class="fas "></i> Type</th>
            <th scope="col"><i class="fas fa-calendar-alt"></i> Date</th>
            <th scope="col"><i class="fas fa-folder-open"></i> Sujet</th>
            <th scope="col" style="text-align:right"><i class="fas fa-plus"></i> Entrées</th>
            <th scope="col" style="text-align:right"><i class="fas fa-minus"></i> Sorties</th>
            <th scope="col"><i class="fas "></i> Description</th>
            <th scope="col"><i class="fas "></i> Données brutes</th>
        </thead>
        <tbody>
            <?php foreach($flows as $flow) { ?>
                <tr>
                    <td><?=$flow->getId();?></td>
                    <td><i class="fas fa-<?=$flow->getIcon();?>"></i> <?=$flow->getType();?></td>
                    <td><?=$flow->getDate();?></td>
                    <td><?=$flow->getSubject();?></td>
                    <td style="text-align:right"><?=sprintf('%0.2f', $flow->getIn());?></td>
                    <td style="text-align:right"><?=sprintf('%0.2f', $flow->getOut());?></td>
                    <td><pre><?=$flow->getDescription();?></pre>
                        <a href="<?=$router->pathFor('flow-edit', ['id' => $flow->getId()]);?>"
                           class="btn btn-sm btn-info"
                           title="Modifier la description">
                            <i class="fas fa-edit"></i>
                        </a></td>
                    <td><pre><?=json_encode($flow->getRaw(), JSON_PRETTY_PRINT);?></pre></td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
</div>
<script>
 $(document).ready(function() {
     $('#bysubject').DataTable();
 } );
</script>
