<?php
$table = (new \Cashflow\View\Table())
    ->addColumn('Libellé',
                function($item) use($router) {
                    return $this->tag('a', $item->getLabel(),
                                      ['href' => $router->pathFor('tag-edit', ['id' => $item->getId()])]);
                },
                'tag')
    ->addColumn('',
                function($item) use($router) {
                    return $this->action($item->getLabel(),
                                         $router->pathFor('tag-delete', ['id' => $item->getId()]),
                                         'times',
                                         'danger');
                })
;

$add_action = $this->action('Nouveau tag',
                            $router->pathFor('tag-edit'),
                            ['plus', 'tag'],
                            'success');
?>
<div class="row">
    <div class="col-md-12">
        <div class="card border-secondary ">
            <div class="card-header bg-primary text-white"><h4><?=$this->fontAwesome('tag');?> Tags <span class="float-right"><?=$add_action;?></span></h4></div>
            <div class="card-body bg-transparent">
                <?=$this->renderTable('tags', $table, $tags);?>
            </div>
            <div class="card-footer"><?=$add_action;?></div>
        </div>
    </div>
</div>
