<div class="row">
    <div class="col-md-12">
        <div class="card border-primary">
            <form method="POST">
                <div class="card-header bg-primary text-white"><h5><?= $this->fontAwesome('tag') . ' ' . $title;?></h5></div>
                <div class="card-body bg-transparent">
                    <div class="form-group">
                        <?= $form->label->renderOn($this); ?>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><?=$this->fontAwesome('check');?> Valider</button>
                    <a href="<?= $router->pathFor('tags'); ?>" class="btn btn-info"><?=$this->fontAwesome('backward');?> Retour</a>
                </div>
            </form>
        </div>
    </div>
</div>
